{% extends "blog/admin_base.html" %}
{% from "helpers/forms.html" import form_field %}

{% block title %}{% block title_message %}Add a New Post{% endblock %} {{ super() }}{% endblock %}

{% block page_content %}
<h1>{% block content_heading %}Add a New Blog Post{% endblock %}</h1>

<form class="custom" method="post">
  {{ form.csrf_token }}
  {% if form.title.errors %}{{ form.title(placeholder=form.title.label.text, class="error") }}
  <small class="error">{% for error in form.title.errors %}{{ error }}{% endfor %}</small>
  {% else %}{{ form.title(placeholder=form.title.label.text) }}{% endif %}

  {% if form.slug.errors %}{{ form.slug(placeholder=form.slug.label.text, class="error") }}
  <small class="error">{% for error in form.slug.errors %}{{ error }}{% endfor %}</small>
  {% else %}{{ form.slug(placeholder=form.slug.label.text) }}{% endif %}

  {% if form.body.errors %}
  <div id="body-editor" class="error"></div>
  <small class="error">{% for error in form.body.errors %}{{ error }}{% endfor %}</small>
  {% else %}<div id="body-editor"></div>{% endif %}
  {{ form.body }}

  <div class="row">
    <div class="two columns">
      {{ form.status.label(class="inline") }}
    </div>
    <div class="ten columns">
      {% if form.status.errors %}{{ form.status(class="error") }}
      <small class="error">{% for error in form.status.errors %}{{ error }}{% endfor %}</small>
      {% else %}{{ form.status(class="expand") }}{% endif %}
    </div>
  </div>
  {%- if post and post.pub_date %}
  <div class="row">
    <div class="two columns">
      {{ form.pub_date.label(class="inline") }}
    </div>
    <div class="ten columns">
      {{ form_field(form.pub_date, placeholder=False) }}
    </div>
  </div>
  {%- endif %}

  <input class="button" type="submit" value="{% block submit_verb %}Add{% endblock %} post" />
</form>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='epiceditor/js/epiceditor.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/editor.js') }}">></script>
{% endblock %}
