{% extends "base.html" %}
{% from "blog/post_header.html" import post_header %}

{% block title %}{{ post.title }} {{ super() }}{% endblock %}

{% block content %}
{% block pre_article %}{% endblock %}
<article class="post">
  {{ post_header(post, link_title=False) }}
  {%- block article_content %}
  {{ post.body|markdown }}
  {%- endblock %}
  <hr>
  <div id="disqus_thread"></div>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</article>
{% endblock %}
