{% extends "blog/admin_base.html" %}
{% from "helpers/pagination.html" import render_pagination %}

{% block title %}All Posts {{ super() }}{% endblock %}

{% block page_content %}
<h1>All Blog Posts</h1>

{%- if posts %}
{%- with pagination_html=render_pagination(posts, 'blog.view_posts', 'right') %}
{{ pagination_html }}
<table class="post-table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Date created</th>
      <th>Status</th>
      <th>Tags</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {%- for post in posts.items %}
    <tr>
      <td>{{ post.title }}</td>
      <td>{{ post.created|localize_datetime|format_datetime }}</td>
      <td>{{ post.status.value }}</td>
      <td>{{ post.tags|join(', ', 'name') }}</td>
      <td>
        <ul>
          <li><a href="{{ url_for('blog.edit_post', post_id=post.id) }}">Edit</a></li>
          <li><a href="{{ url_for('blog.preview_post', post_id=post.id) }}">Preview</a></li>
          {%- if post.is_published %}
          <li><a href="{{ post.url }}">View Live</a></li>
          {%- endif %}
        </ul>
      </td>
    </tr>
    {%- endfor %}
  </tbody>
</table>
{{ pagination_html }}
{%- endwith %}
{%- else %}
<p>No posts.</p>
{%- endif %}
{% endblock %}
