{% extends "blog/post_view_base.html" %}

{% block script %}
<script>
  var disqus_shortname = 'ryankaskelcom';
  {%- if config.DEBUG %}
  var disqus_developer = 1;
  {%- endif %}

  (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
{% endblock %}
