{% extends "base.html" %}

{% block title %}{{ post.title }} {{ super() }}{% endblock %}

{% block content %}
{% block pre_article %}{% endblock %}
<article class="post">
  <h1>{% block article_title %}{{ post.title }}{% endblock %}</h1>
  {%- block article_content %}
  {{ post.body|markdown }}
  {%- endblock %}

  <hr>
  <div id="disqus_thread"></div>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</article>
{% endblock %}

{% block script %}
<script>
  var disqus_shortname = 'ryankaskelcom';
  {%- if config.DEBUG %}
  var disqus_developer = 1;
  {%- endif %}

  (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
{% endblock %}
