{% extends "blog/base.html" %}

{% block title %}{% block title_message %}Add a New Post{% endblock %} {{ super() }}{% endblock %}

{% block page_content %}
<h1>{% block content_heading %}Add a New Blog Post{% endblock %}</h1>

<form class="custom" method="post">
  {{ form.csrf_token }}
  <div class="row">
    <div class="nine columns">
      {% if form.title.errors %}{{ form.title(placeholder=form.title.label.text, class="error") }}
      <small class="error">{% for error in form.title.errors %}{{ error }}{% endfor %}</small>
      {% else %}{{ form.title(placeholder=form.title.label.text) }}{% endif %}

      {% if form.slug.errors %}{{ form.slug(placeholder=form.slug.label.text, class="error") }}
      <small class="error">{% for error in form.slug.errors %}{{ error }}{% endfor %}</small>
      {% else %}{{ form.slug(placeholder=form.slug.label.text) }}{% endif %}
    </div>
    <div class="three columns">
      {% if form.status.errors %}{{ form.status(class="error") }}
      <small class="error">{% for error in form.status.errors %}{{ error }}{% endfor %}</small>
      {% else %}{{ form.status }}{% endif %}
    </div>
  </div>

  {% if form.body.errors %}{{ form.body(rows=8, placeholder=form.body.label.text, class="error") }}
  <small class="error">{% for error in form.body.errors %}{{ error }}{% endfor %}</small>
  {% else %}{{ form.body(rows=25, placeholder=form.body.label.text) }}{% endif %}

  <input class="button" type="submit" value="{% block submit_verb %}Add{% endblock %} post" />
</form>
{% endblock %}
