{% extends "blog/admin_base.html" %}

{% block title %}All Posts {{ super() }}{% endblock %}

{% block page_content %}
<h1>All Blog Posts</h1>

{%- if posts %}
<table class="post-table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Date created</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {%- for post in posts %}
    <tr>
      <td>{{ post.title }}</td>
      <td>{{ post.created|localize_datetime|format_datetime }}</td>
      <td>{{ post.status.value }}</td>
      <td>
        [<a href="{{ url_for('blog.edit_post', post_id=post.id) }}">Edit</a>]
        [<a href="{{ url_for('blog.preview_post', post_id=post.id) }}">Preview</a>]
        {% if post.is_published %}[<a href="{{ post.url }}">View Live</a>]{% endif %}
      </td>
    </tr>
    {%- endfor %}
  </tbody>
</table>
{%- else %}
<p>No posts.</p>
{%- endif %}
{% endblock %}
