<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}- RyanKaskel.com{% endblock %}</title>
    <meta name="description" content="Ryan Kaskel's Website">
    <meta name="viewport" content="width=device-width">

    <link href="//fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    <link rel="alternate" type="application/rss+xml" title="Blog posts" href="{{ url_for('blog.posts_feed', _external=True) }}">
    {% block extra_head %}{% endblock %}
  </head>
  <body>
    <div class="row">
      <div class="twelve columns">
        <nav class="top-bar override">
          <ul>
            <li class="name"><h1><a href="{{ url_for('general.index') }}" title="Home">RyanKaskel.com</a></h1></li>
            <li class="toggle-topbar"><a href="#"></a></li>
          </ul>
          <ul>
            <li><a rel="author" href="{{ url_for('general.about') }}" title="About">About</a></li>
            <li><a href="{{ url_for('general.contact') }}" title="Contact">Contact</a></li>
          </ul>
        </nav>
      </div>
    </div>

    {%- with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
    <div class="row">
      <div class="twelve columns">
        {%- for category, message in messages %}
        <div class="alert-box{% if category %} {{ category }}{% endif %}">{{ message }}<a href="" class="close">&times;</a></div>
        {%- endfor %}
      </div>
    </div>
    {% endif %}
    {%- endwith %}

    <div class="row">
      <div class="nine columns" role="main">
        {% block content %}{% endblock %}
      </div>

      <nav class="two offset-by-one columns side">
        <h5>Blog</h5>
        <ul>
          <li><a href="{{ url_for('blog.tag_list') }}">All post tags</a></li>
          <li><a href="{{ url_for('blog.posts_feed') }}">RSS Feed <img src="{{ url_for('static', filename='img/feeds/icon-14x14.png') }}" alt="RSS feed" height="14" width="14"></a></li>
        </ul>

        <h5>Admin</h5>
        <ul>
          {%- if current_user.is_authenticated() %}
          {%- if current_user.is_admin %}
          <li><a href="{{ url_for('auth.list_users') }}">View all users</a></li>
          <li><a href="{{ url_for('auth.add_user') }}">Add user</a></li>
          {%- endif %}
          <li><a href="{{ url_for('blog.view_posts') }}">View all posts</a></li>
          <li><a href="{{ url_for('blog.add_post') }}">Add new post</a></li>
          <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
          {%- else %}
          <li><a href="{{ url_for('auth.login') }}?next={{ url_for('blog.view_posts') }}">Login</a></li>
          {%- endif %}
        </ul>

        <h5>Social</h5>
        <ul>
          <li><a href="https://twitter.com/ryankask" rel="me">@ryankask</a></li>
          <li><a href="https://github.com/ryankask" rel="me">GitHub</a></li>
          <li><a href="https://plus.google.com/+RyanKaskel" rel="me">Google+</a></li>
        </ul>
      </nav>
    </div>

    <footer class="row">
      <div class="twelve columns">
        <hr>
        <div class="row">
          <div class="twelve columns">
            <p>© 2013 Ryan Kaskel Powered by <a href="https://github.com/ryankask/esther">Esther</a>.</p>
          </div>
        </div>
      </div>
    </footer>

    <script src="{{ url_for('static', filename='js/foundation.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script>
      var _gaq=[['_setAccount','UA-6663004-1'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));

      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-6663004-7');ga('send','pageview');
    </script>
    {% block script %}{% endblock %}
  </body>
</html>
