<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}- RyanKaskel.com{% endblock %}</title>
    <meta name="description" content="Ryan Kaskel's Website">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    {% block extra_head %}{% endblock %}
  </head>
  <body>
    <div class="row">
      <div class="twelve columns">
        <nav class="top-bar override">
          <ul>
            <li class="name"><h1><a href="{{ url_for('general.index') }}" title="Home">RyanKaskel.com</a></h1></li>
            <li class="toggle-topbar"><a href="#"></a></li>
          </ul>
          <ul>
            <li><a rel="author" href="{{ url_for('general.about') }}" title="About">About</a></li>
            <li><a href="{{ url_for('general.contact') }}" title="Contact">Contact</a></li>
          </ul>
        </nav>
      </div>
    </div>

    {%- with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
    <div class="row">
      <div class="twelve columns">
        {%- for category, message in messages %}
        <div class="alert-box{% if category %} {{ category }}{% endif %}">{{ message }}<a href="" class="close">&times;</a></div>
        {%- endfor %}
      </div>
    </div>
    {% endif %}
    {%- endwith %}

    <div class="row">
      <div class="nine columns" role="main">
        {% block content %}{% endblock %}
      </div>

      <nav class="three columns side">
        <h5>Blog</h5>
          <ul class="side-nav">
            <li><a href="{{ url_for('blog.tag_list') }}">All post tags</a></li>
          </ul>

        <h5>Admin</h5>
        <ul class="side-nav">
          {%- if current_user.is_authenticated() %}
          {%- if current_user.is_admin %}
          <li><a href="{{ url_for('auth.list_users') }}">View all users</a></li>
          <li><a href="{{ url_for('auth.add_user') }}">Add user</a></li>
          {%- endif %}
          <li><a href="{{ url_for('blog.view_posts') }}">View all posts</a></li>
          <li><a href="{{ url_for('blog.add_post') }}">Add new post</a></li>
          <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
          {%- else %}
          <li><a href="{{ url_for('auth.login') }}?next={{ url_for('blog.view_posts') }}">Login</a></li>
          {%- endif %}
        </ul>

        <h5>Social</h5>
        <ul class="social">
          <li><a href="https://twitter.com/ryankask" class="twitter-follow-button" data-show-count="false">
              Follow @ryankask</a></li>
          <li><iframe src="https://ryankaskel.com/ap-static/html/github-btn.html?user=ryankask&amp;type=follow" allowtransparency="true"
                      frameborder="0" scrolling="0" width="132" height="20"></iframe></li>
          <li><g:plusone href="https://ryankaskel.com/"></g:plusone></li>
        </ul>
      </nav>
    </div>

    <footer class="row">
      <div class="twelve columns">
        <hr>
        <div class="row">
          <div class="twelve columns">
            <p>
              © 2013 <a href="https://plus.google.com/104275111833639999928/?rel=author" rel="me">Ryan Kaskel</a>.
              Powered by <a href="https://github.com/ryankask/esther">Esther</a>.
            </p>
          </div>
        </div>
      </div>
    </footer>

    <script src="{{ url_for('static', filename='js/foundation.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script>
      var _gaq=[['_setAccount','UA-6663004-1'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));

      /* Google+ */
      (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();

      /* Twitter button */
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.async=true;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
    </script>
    {% block script %}{% endblock %}
  </body>
</html>
