a:hover, a:focus {
  color: lighten($primary-color, 20%);
}

code { font-size: 14px; }

article, section {
  .row.meta {
    overflow: hidden;
    margin-bottom: 1.2rem;
    line-height: 1.2rem;

    h2 {
      display: inline-block;
      margin: 0;
      font-size: 14px;
      line-height: 1;
    }

    .tags {
      text-align: right;
      font-size: 14px;
    }
  }
}

.profile-picture {
  float: right;
  padding: 0 0 1em 1em;
}

.auth-error {
  font-weight: bold;
  color: $alert-color;
}

nav.side {
  h5 {
    font-size: 18px;
  }

  li {
    font-size: 15px;
  }

  ul {
    list-style: none;
    margin-left: 0;
  }

  .social {
    li {
      margin-top: 10px;
    }
  }
}

@mixin admin-table {
  width: 100%;

  td {
    vertical-align: middle;
  }
}

.user-table {
  @include admin-table;
}

.post-table {
  @include admin-table;

  ul {
    list-style: none;
    margin-bottom: 0;

    li {
      &:before {
        content: "[";
      }

      &:after {
        content: "]";
      }
    }
  }
}

.codehilite {
  padding: 1rem;
  margin-bottom: 1rem;
  font-size: 16px;

  pre {
    white-space: pre-wrap;
  }
}

#body-editor {
  margin-bottom: 1rem;
  height: 400px;
}

#body-editor.error {
  margin-bottom: 13px;
}
