@import "foundation/functions";

$row-width: rem-calc(760);
$base-font-size: 18px;
$primary-color: #317873;
$alert-color: #c7262e;
$success-color: #7ebcb7;
$header-font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$body-font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$topbar-margin-bottom: 18px;
$button-tny: rem-calc(8);
$button-sml: rem-calc(10);
$button-med: rem-calc(12);
$button-lrg: rem-calc(14);