{% extends "auth/admin_base.html" %}
{% from "helpers/forms.html" import form_field %}

{% block title %}Add New User {{ super() }}{% endblock %}

{% block page_content %}
<h1>Add New User</h1>

<form class="custom" method="post">
  {{ form.csrf_token }}
  <div class="row">
    <div class="six columns">
      {{ form_field(form.email) }}
      {{ form_field(form.full_name) }}
      <input class="button" type="submit" value="{% block submit_verb %}Add{% endblock %} user" />
    </div>
    <div class="six columns">
      {{ form_field(form.password) }}
      {{ form_field(form.short_name) }}

      <div class="row">
        <div class="four columns">
          {{ form.is_admin.label }}
        </div>
        <div class="eight columns">
          {{ form_field(form.is_admin, placeholder=False) }}
        </div>
      </div>
    </div>
  </div>
</form>
{% endblock %}
