{% extends "page.html" %}

{% block title %}About {{ super() }}{% endblock %}

{% block page_section_attrs %}{{ super() }} itemscope itemtype="http://data-vocabulary.org/Person"{% endblock %}

{% block page_content %}
<h1>About</h1>

<img itemprop="photo" src="{{ url_for('static', filename='img/about/windsor2-small.jpg') }}" alt="Ryan Kaskel in Windsor" class="profile-picture" width="400" height="277">
<p>I'm <strong itemprop="name">Ryan Kaskel</strong>. Welcome to my website!</p>
<p>Here are a few facts about me:</p>

<ul>
  <li>Born January 22, 1987 in <a title="Miami on Wikipedia" href="http://en.wikipedia.org/wiki/Miami">Miami</a>,
    <a title="Florida on Wikipedia" href="http://en.wikipedia.org/wiki/Florida">Florida</a>,
    <a title="United States on Wikipedia" href="http://en.wikipedia.org/wiki/United_States">USA</a></li>
  <li>Attended <a title="Miami-Palmetto Senior High school website" href="http://mpsh.dadeschools.net/">Miami-Palmetto Senior High School</a></li>
  <li>Graduated in 2010 from <a title="Tufts University website" href="http://www.tufts.edu/">Tufts University</a> in
    <a title="Boston on Wikipedia" href="http://en.wikipedia.org/wiki/Boston">Boston</a>,
    <a title="Massachusetts on Wikipedia" href="http://en.wikipedia.org/wiki/Massachusetts">Massachusetts</a> with a Bachelor of Arts</li>
  <li>I majored in History</li>
  <li>I have an M.A. in <a title="King's College medieval history program" href="http://www.kcl.ac.uk/schools/humanities/depts/history/study/grad/taught/med/"> Medieval History</a> from <a title="King's College London" href="http://www.kcl.ac.uk/">King&#8217;s College London</a></li>
  <li>I live in <a title="London on Wikipedia" href="http://en.wikipedia.org/wiki/London">London</a>,
    <a title="United Kingdom on Wikipedia" href="http://en.wikipedia.org/wiki/United_Kingdom">United Kingdom</a></li>
  <li>I am the <span itemprop="title">founder</span> of <a itemprop="affiliation" title="Long Pond Digital" href="http://www.longpond.co.uk">Long Pond Digital</a>, an IT consulting company</li>
  <li>I support <a title="Arsenal's website" href="http://www.arsenal.com/">Arsenal F.C.</a></li>
  <li>I am learning Polish. I can speak some Spanish and have studied Latin and Kiswahili in the past</li>
</ul>

<p>I am also a proud computer nerd. Here is some of the software I use every day:</p>
<ul>
  <li><a title="emacs 24.3" href="http://www.gnu.org/software/emacs/">emacs 24</a></li>
  <li><a title="org-mode for emacs website" href="http://orgmode.org/">org-mode</a> for emacs</li>
  <li><a href="http://tmux.sourceforge.net/">tmux</a></li>
  <li><a href="https://lastpass.com/">LastPass</a></li>
  <li><a href="http://clojure.org/">Clojure</a></li>
  <li><a href="http://gitscm.org/">Git</a></li>
</ul>

<p>
  You can find me on <a title="My Google Profile" href="https://plus.google.com/104275111833639999928/" rel="me">Google+</a>,
  <a title="Ryan Kaskel on GitHub" href="https://github.com/ryankask" rel="me">GitHub</a>,
  <a title="Ryan Kaskel on Launchpad.net" href="https://launchpad.net/~ryankaskel" rel="me">Launchpad</a>, and
  <a title="ryankask on Twitter" href="http://twitter.com/#!/ryankask" rel="me">Twitter</a>.
</p>
<p>Finally, here is some miscellaneous stuff I like:</p>
<ul>
  <li>Airplanes and airport design. Check out <a title="Ryan Kaskel's photos on Airliners.net" href="http://www.airliners.net/search/photo.search?photographersearch=Ryan%20Kaskel&amp;distinct_entry=true">my photos on Airliners.net</a></li>
  <li>Trains, trains, and trains. My favorite sites are
    <a title="RailForums.co.uk" href="http://railforums.co.uk/">RailForums.co.uk</a> and
    <a href="http://www.londonreconnections.com/">London Reconnections</a>.</li>
</ul>

<p>That's all for now!</p>
{% endblock %}
