{% extends "base.html" %}
{% from "blog/post_header.html" import post_header %}

{% block title %}Welcome! {{ super() }}{% endblock %}
{% block extra_head %}
<link rel="openid2.provider" href="https://openid.stackexchange.com/openid/provider">
<link rel="openid2.local_id" href="https://openid.stackexchange.com/user/4619d784-e579-457f-8ecd-02a7191810a2">
{% endblock %}

{% block content %}
{%- for post in posts.items %}
<article>
  {{ post_header(post) }}
  <div class="row">
    <div class="small-12 columns">
      {{ post.preview|markdown }}
      <a class="right" href="{{ post.continue_url }}">Continue reading...</a>
    </div>
  </div>
  <hr>
</article>
{% endfor %}

{% if posts.has_prev %}
<a href="{{ url_for('.index', page=posts.prev_num) }}">&laquo; Newer</a>
{%- endif %}
{%- if posts.has_prev and posts.has_next %} | {%- endif %}
{%- if posts.has_next %}
<a href="{{ url_for('.index', page=posts.next_num) }}">Older &raquo;</a>
{%- endif %}
{% endblock %}
