{% extends "base.html" %}
{% from "helpers/tags.html" import tags %}

{% block title %}Welcome! {{ super() }}{% endblock %}
{% block extra_head %}
<link rel="openid.server" href="http://www.myopenid.com/server">
<link rel="openid.delegate" href="http://ryankaskel.myopenid.com/">
<link rel="openid2.local_id" href="http://ryankaskel.myopenid.com">
<link rel="openid2.provider" href="http://www.myopenid.com/server">
<meta http-equiv="X-XRDS-Location" content="http://www.myopenid.com/xrds?username=ryankaskel.myopenid.com">
{% endblock %}

{% block content %}
{%- for post in posts.items %}
<article>
  <header>
    <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
    <h6 class="meta">
      Posted by {{ post.author.full_name }} on
      {{ post.pub_date|localize_datetime|format_date }} {{ tags(post) }}
    </h6>
  </header>
  <div class="row">
    <div class="twelve columns">
      {{ post.preview|markdown }}
      <a class="right" href="{{ post.url }}">Read full post and comments ⇨</a>
    </div>
  </div>
  <hr>
</article>
{% endfor %}

{% if posts.has_prev %}
<a href="{{ url_for('.index', page=posts.prev_num) }}">&laquo; Newer</a>
{%- endif %}
{%- if posts.has_prev and posts.has_next %} | {%- endif %}
{%- if posts.has_next %}
<a href="{{ url_for('.index', page=posts.next_num) }}">Older &raquo;</a>
{%- endif %}
{% endblock %}
