{% extends "base.html" %}

{% block title %}TODO {{ super() }}{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/todo.css') }}">
{% endblock %}
{% block main_container_attrs %} ng-app="todoApp" ng-controller="TodoCtrl" data-user-id="{{ current_user.id }}"{% endblock %}

{% block content %}
<button class="create-list button small right" ng-click="showCreateListForm = true">Create List</button>
<h1>TODO</h1>

<div class="row">
  <div class="six columns">
    <h4>Lists</h4>
  </div>
  <div class="six columns">
    <h4>Items</h4>
  </div>
</div>

<div ng-show="showCreateListForm">
  <hr>
  <h4>Create a new list</h4>
  <form ng-submit="createList()">
    <div class="row">
      <div class="two mobile-one columns">
        <label class="right inline">Title</label>
      </div>
      <div class="ten mobile-three columns">
        <input type="text" name="title" ng-model="newList.title" required>
      </div>
    </div>
    <div class="row">
      <div class="two mobile-one columns">
        <label class="right inline">Description</label>
      </div>
      <div class="ten mobile-three columns">
        <textarea name="description" ng-model="newList.description" required></textarea>
      </div>
    </div>
    <div class="row">
      <div class="two mobile-one columns">
        <label class="right inline">Public?</label>
      </div>
      <div class="ten mobile-three columns">
        <input type="checkbox" name="is_public" ng-model="newList.is_public">
      </div>
    </div>
    <div class="row">
      <div class="two mobile-one columns">
      </div>
      <div class="ten mobile-three columns">
        <input class="small button" type="submit" value="Create List">
        <button class="small button alert" ng-click="showCreateListForm = false">Cancel</button>
      </div>
    </div>
  </form>
</div>
{% endblock content %}

{% block script %}
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
<script>window.angular || document.write('<script src="{{ url_for('static', filename='js/angular-1.0.6.min.js') }}"><\/script>')</script>
<script src="{{ url_for('static', filename='js/angular-resource-1.0.6.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/todo/app.js') }}"></script>
<script src="{{ url_for('static', filename='js/todo/services.js') }}"></script>
<script src="{{ url_for('static', filename='js/todo/controllers.js') }}"></script>
<script src="{{ url_for('static', filename='js/todo/filters.js') }}"></script>
<script src="{{ url_for('static', filename='js/todo/directives.js') }}"></script>
{% endblock %}
